<% layout("layouts/boilerplate") %>
   <div class="row mt-3">
    <div class="col-8 offset-2"></div>
    <br/><br/>
    <h3>create a new listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <lable for="title" class="form-label">Enter Title</lable>
        <input name="listing[title]" placeholder="enter title" type="text" class="form-control"
        required
        />
        
        <div class="valid-feedback"> Title looks good</div>
    </div>
        
        <div class="mb-3">
            <lable for="description" class="form-label">description</lable>
            <textarea name="listing[description]"type="text" class="form-control" required></textarea>
        </div>

        
        <div class="mb-3">
            <lable for="image" class="form-label">upload listing image</lable>
            <input name="listing[image]"  type="file" class="form-control" required/>
        </div>
        <div class="row">
        <div class="mb-3 col-3">
            <lable for="price" class="form-label">price</lable>
            <input name="listing[price]" placeholder="enter price"  class="form-control"
            required
            />
            <div class="invalid-feedback"> please enter valid price</div>
        </div>
       
        <div class="mb-3 col 8">
            <lable for="country" class="form-label">country</lable>
            <input name="listing[country]" placeholder="enter country" type="text" class="form-control"
            required/>
            <div class="invalid-feedback"> please enter valid country</div>
        </div>
        
    </div>
        <div class="mb-3">
            <lable for="location" class="form-label">location</lable>
            <input name="listing[location]" placeholder="enter location" type="text" class="form-control"
            required
            />
            <div class="invalid-feedback"> please enter valid price</div>
        </div>
        
        
        <br /> <br />
        <button class="btn btn-dark add-btn mt-3" >add</button>
        <br/><br/>
    </form>
</div>
</div>
